/**
 *  首页界面样式（主要是九宫格、卡片等）
 */

// 引入基础功能类
@import '../base.less';

.home-page {
    position: absolute;
    top: 40 / @frem;
    bottom: 50 / @frem;
    left: 0;
    right: 0;
    padding: 0 0 15 / @frem 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f7f8fa;

    .month-performance {
        background-color: #fff;
        border-bottom: 1px solid #eaeaea;
        height: 40 / @frem;
        line-height: 40 / @frem;
        display: -webkit-flex;
        display: flex;

        div {
            text-align: center;
            font-size: 16 / @frem;
        }

        .value {
            width: 60%;
        }

        .level {
            width: 40%;

            i {
                margin-right: 5 / @frem;
            }
        }
    }

    /* 我的工作 */
    .work {

        .work-header {
            height: 30 / @frem;
            line-height: 30 / @frem;
            text-align: left;
            padding-left: 10 / @frem;
            background-color: #f7f8fa;
        }

        .work-contents {
            background-color: #fff;

            /* 去掉超链接下划线 */
            a:link {text-decoration:none ; color:white ;}
            a:visited {text-decoration:none ; color:white;}
            a:hover {text-decoration:underline ; color:white;}
            a:active {text-decoration:none ; color:white;}

            /* 去掉九宫格边框 */
            .weui-grid__icon {
                width: 35 / @frem;
                height: 35 / @frem;
            }
            .weui-grids {
                border-bottom: 1px solid #eaeaea;
            }
            .weui-grids:before {
                border-top: 1px solid #eaeaea;
            }
            .weui-grid:after {
                border-bottom: 0px solid #eaeaea;
            }
            .weui-grids:after {
                border-left: 0px solid #eaeaea;
            }
            .weui-grid:before {
                border-right: 0px solid #eaeaea;
            }
        }
    }

    /* 客户 */
    .client {
        margin-top: 15 / @frem;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        background-color: #fff;
        display: -webkit-flex;
        display: flex;

        .vertical {
            height: 120 / @frem;
            width: 50%;
            /* 垂直水平居中 */
            align-items: center;
            justify-content: center;
        }

        .crosswise {
            display: -webkit-flex;
            display: flex;

            .img-pack {
                text-align: right;
                align-items: center;
                width: 40%;
                padding-right: 7 / @frem;
                padding-top: 6.5 / @frem;

                img {
                    width: 45 / @frem;
                    height: 45 / @frem;
                }
            }

            .value-pack {
                padding-left: 7 / @frem;
                text-align: left;
                align-items: center;
                width: 60%;

                div {
                    height: 30 / @frem;
                }

                .value {
                    position: relative;

                    span {
                        position: absolute;
                        bottom: 0;
                        font-size: 20 / @frem;
                        color: #f05637;
                        font-weight: 500;
                    }
                }

                .label {
                    font-size: 14 / @frem;
                    color: #555;
                }
            }
        }
        .crosswise:active {
            background-color: #ececec;
        }

        .potential {
            border-right: 1px solid #eaeaea;
            display: -webkit-flex;
            display: flex;

            .img-pack {
                text-align: right;
                align-items: center;
                width: 40%;
                padding-right: 7 / @frem;

                img {
                    width: 45 / @frem;
                    height: 45 / @frem;
                }
            }

            .value-pack {
                padding-left: 7 / @frem;
                text-align: left;
                align-items: center;
                width: 60%;

                div {
                    height: 60 / @frem;
                }

                .value {
                    position: relative;

                    span {
                        position: absolute;
                        bottom: 0;
                        font-size: 20 / @frem;
                        color: #f05637;
                        font-weight: 500;
                    }
                }

                .label {
                    font-size: 15 / @frem;
                    color: #555;
                }
            }
        }
        .potential:active {
            background-color: #ececec;
        }

        .order {
            border-bottom: 1px solid #eaeaea;

            span {
                color: #33A5F0!important;
            }
        }

        .retain {

            span {
                color: #febe2d!important;
            }
        }
    }

    /* 销售图表 */
    .market {
        background-color: #fff;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        margin-top: 15 / @frem;

        .market-header {
            height: 30 / @frem;
            line-height: 30 / @frem;
            text-align: left;
            padding-left: 10 / @frem;

            span {
                color: #4b98ea;
            }
        }

        .market-contents {
            border-top: 1px solid #eaeaea;
            height: 200 / @frem;
        }

        .market-footer {
            height: 60 / @frem;
            display: -webkit-flex;
            display: flex;

            .average, .plan {
                width: 50%;

                .pack {

                    .label {
                        position: relative;
                        height: 30 / @frem;
                        padding-left: 50 / @frem;
                        text-align: left;

                        span {
                            position: absolute;
                            bottom: 0;
                            color: #999;
                        }
                    }

                    .value {
                        padding-left: 50 / @frem;
                        text-align: left;
                        font-weight: 500;
                        font-size: 15 / @frem;
                    }
                }
            }
        }
    }
}

