/**
 *  我的界面样式（主要是九宫格、卡片等）
 */

// 引入基础功能类
@import '../base.less';

.task-page {
    position: absolute;
    top: 40 / @frem;
    bottom: 50 / @frem;
    left: 0;
    right: 0;
    padding: 0 0 15 / @frem 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f7f8fa;

    .padding-pack {
        position: relative;
        left: 0;
        right: 0;
        height: 10 / @frem;
    }

    .weui-cells {
        margin-top: 0!important;
        height: 40 / @frem;

        a:hover {
            text-decoration: inherit!important;
        }

        .vux-datetime {

            p {
                font-size: 16 / @frem;
            }

            .vux-datetime-value {
                font-size: 16 / @frem;
            }
        }
    }

    .tab-pack {
        position: absolute;
        top: 60 / @frem;
        left: 0;
        right: 0;

        .vux-tab {
            height: 44 / @frem;

            .vux-tab-item {
                line-height: 44 / @frem;
            }
        }
    }

    .swiper-pack {
        position: absolute;
        top: 104 / @frem;
        left: 0;
        right: 0;
        background: #fff;

        .vux-swiper {
            background-color: #f7f8fa;
        }

        .gather-list, .demand-list, .indent-list {
            overflow-y: auto;

            .item {
                text-align: left;
                padding: 10 / @frem 10 / @frem 0 10 / @frem;

                .date {
                    color: #666;
                    margin-bottom: 10 / @frem;

                    i {
                        margin-right: 5 / @frem;
                        color: #7ab8f9;
                    }
                }

                .content {
                    background-color: #fff;
                    margin-bottom: 10 / @frem;
                    padding: 10 / @frem;

                    .task-name {
                        line-height: 35 / @frem;
                        font-size: 16 / @frem;
                        border-bottom: 1px solid #eaeaea;
                    }

                    .state {
                        margin-top: 7 / @frem;
                        height: 30 / @frem;
                        line-height: 30 / @frem;
                        display: -webkit-flex;
                        display: flex;

                        div {
                            width: 50%;
                            font-size: 16 / @frem;


                            /* 任务的几个状态 */
                            .not-begun {
                                color: #f08388;
                                border-radius: 5 / @frem;
                            }

                            .unfinished {
                                color: #7ab8f9;
                                border-radius: 5 / @frem;
                            }

                            .completed {
                                color: #ffcc66;
                                border-radius: 5 / @frem;
                            }

                            .value {
                                height: 25 / @frem;
                                line-height: 25 / @frem;
                                padding: 3 / @frem 8 / @frem;
                            }
                        }
                    }

                    .time {
                        height: 30 / @frem;
                        line-height: 30 / @frem;
                        display: -webkit-flex;
                        display: flex;

                        div {
                            width: 50%;
                            font-size: 16 / @frem;
                        }
                    }
                }
                .content:active {
                    background-color: #ececec;

                    .task-name {
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
        }
    }

}
