/**
 *  我的界面样式（主要是九宫格、卡片等）
 */

// 引入基础功能类
@import '../base.less';

.task-page {
    position: absolute;
    top: 40 / @frem;
    bottom: 50 / @frem;
    left: 0;
    right: 0;
    padding: 0 0 15 / @frem 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f7f8fa;


}
